<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>url shrt</title>
  <meta name="description" content="URL shortener">
  <meta name="author" content="George Skouroupathis">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Exo" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="/static/images/favicon.png">

	<!-- Scripts
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
	<script src="/static/scripts/app.js"></script>
	<script src="/static/scripts/ctrl.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="topnavdivparent">
    <!---->
  </div>

  <div data-ng-app="url-shrt" data-ng-controller="url-shrt-controller" class="container">

		<form>
		<div class="row" style="margin-top:10%;">
			<div class="twelve columns">
		 		<input data-ng-model="urlInput" id="urlInput" class="u-full-width" placeholder="URL to be shortened" type="text">
	 		</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<label for="daysInput">Days ({{daysInput}})</label>
				<input data-ng-model="daysInput" id="daysInput" class="u-full-width" type="range" value="50">
		 	</div>
 		</div>

		<div class="row">
			<div class="twelve columns">
				<label for="hoursInput">Hours ({{hoursInput}})</label>
				<input data-ng-model="hoursInput" id="hoursInput" class="u-full-width" type="range" value="50">
		 	</div>
 		</div>

		<div class="row">
			<div class="twelve columns">
				<label for="minutesInput">Minutes ({{minutesInput}})</label>
				<input class="u-full-width" data-ng-model="minutesInput" id="minutesInput" type="range" value="50">
			</div>
		</div>

		<div class="row">
			<div class="nine columns" style="line-height: 38px;">
				<a class="u-full-width" ng-href={{urlOutHref}} data-ng-bind="urlOutput" id="urlOutput" ng-style="urlOutStyle"></a>
	 		</div>

			<div class="three columns">
				<input ng-click="sendURL()" class="button-primary u-full-width" id="urlSubmit" value="Submit" type="submit">
	 		</div>
 		</div
 		</form>

    <div class="push"></div>
  </div>

  <footer class="footer">
    <div class="footerContainer">
      <div class="footerMain">
        <div class="row">
          <div class="twelve columns">
            footer
          </div>
        </div>
      </div>
    </div>
  </footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
